h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    word-wrap: break-word;
    height: 1em;
    overflow: hidden;
    color: $term-color6;
}

h1 u {
    color: $term-color6;
    text-decoration-line: underline;
}

h2 {
    color: $term-color4;
}
