h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    border-bottom: 1px solid $foreground;
    word-wrap: break-word;
    height: 1em;
    overflow: hidden;
}

h2 {
    color: $term-color4;
}
