a {
    text-decoration: none;
    color: orange;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }

    &:visited {
        color: brown;
    }
}
