$charcoal: #444444;
$background: #f4f4f4;
$foreground: #444444;

$term-background:  #262626;
$term-foreground:  #CCCCCC;

$term-color0:      #000000;
$term-color1:      #AC4142;
$term-color2:      #4E9A06;
$term-color3:      #C4A000;
$term-color4:      #3465A4;
$term-color5:      #75507B;
$term-color6:      #06989A;
$term-color7:      #D3D7CF;
$term-color8:      #555753;
$term-color9:      #D24545;
$term-color10:     #8AE234;
$term-color11:     #FCE94F;
$term-color12:     #729FCF;
$term-color13:     #AD7FA8;
$term-color14:     #34E2E2;
$term-color15:     #F5F5F5;

$term-black:   $term-color0;
$term-red:     $term-color1;
$term-green:   $term-color2;
$term-yellow:  $term-color3;
$term-blue:    $term-color4;
$term-magenta: $term-color5;
$term-cyan:    $term-color6;
$term-white:   $term-color7;
$term-bold-black:   $term-color8;
$term-bold-red:     $term-color9;
$term-bold-green:   $term-color10;
$term-bold-yellow:  $term-color11;
$term-bold-blue:    $term-color12;
$term-bold-magenta: $term-color13;
$term-bold-cyan:    $term-color14;
$term-bold-white:   $term-color15;
