main {
    margin: 2em auto;
    max-width: 100%;
    width: 30em;
    position: relative;

    animation-name: mainSwing;
    animation-duration: 2s;
}

@keyframes mainSwing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
